@{
    ViewData["Title"] = "Home Page";
}
@model DataViewModel

<div class="text-center">



    <h1 class="display-4">Исходные данные</h1>

    <form asp-action="Result" asp-controller="Home" method="get">
        <table class="table table-bordered">

            <tr>
                <th scope="col" rowspan="2">Вид заготовки</th>
                <th scope="col" rowspan="2">Площадь поверхности заготовки, см2</th>
                <th scope="col" colspan="6">Количество заготовок на 1 изделие по соответствующему способу раскроя, шт.</th>
                <th scope="col" rowspan="2">Количество заготовок на 1 изделие, шт.</th>
            </tr>


            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
            </tr>
            <tr>
                <th>A1</th>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A1_PloPovZag">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A1_ColvoZag_1">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A1_ColvoZag_2">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A1_ColvoZag_3">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A1_ColvoZag_4">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A1_ColvoZag_5">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A1_ColvoZag_6">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A1_ColvoNaOd">
                </td>
            </tr>
            <tr>
                <th>A2</th>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A2_PloPovZag">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A2_ColvoZag_1">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A2_ColvoZag_2">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A2_ColvoZag_3">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A2_ColvoZag_4">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A2_ColvoZag_5">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A2_ColvoZag_6">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A2_ColvoNaOd">
                </td>
            </tr>
            <tr>
                <th>A3</th>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A3_PloPovZag">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A3_ColvoZag_1">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A3_ColvoZag_2">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A3_ColvoZag_3">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A3_ColvoZag_4">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A3_ColvoZag_5">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A3_ColvoZag_6">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A3_ColvoNaOd">
                </td>
            </tr>
            <tr>
                <th>A4</th>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A4_PloPovZag">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A4_ColvoZag_1">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A4_ColvoZag_2">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A4_ColvoZag_3">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A4_ColvoZag_4">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A4_ColvoZag_5">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A4_ColvoZag_6">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A4_ColvoNaOd">
                </td>
            </tr>
            <tr>
                <th>A5</th>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A5_PloPovZag">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A5_ColvoZag_1">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A5_ColvoZag_2">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A5_ColvoZag_3">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A5_ColvoZag_4">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A5_ColvoZag_5">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A5_ColvoZag_6">
                </td>
                <td>
                    <input type="number" required min="0" class="table-input-text" asp-for="A5_ColvoNaOd">
                </td>
            </tr>

            <tr>
                <td colspan="9">
                    <table class="table table-bordered mb-0">
                        <th>Заданная длина полос проката, см:</th>
                        <td>
                            <input type="number" required min="0" class="table-input-text" asp-for="Zag_F">
                        </td>
                        <th>Необходимое количество изделий, шт:</th>
                        <td>
                            <input type="number" required min="0" class="table-input-text" asp-for="Zag_R">
                        </td>
                    </table>
                </td>

            </tr>

        </table>



        <input class="btn btn-success" type="submit" value="Расчёт" />
        <h3>@ViewBag.Res</h3>
    </form>
</div>
