@model ResultViewModel

<div id="invoice" class="container text-center">
    <h1 class="display-4">Результаты расчёта</h1>

    <div class="row">

        <div class="col-7">
            <form asp-action="Report" asp-controller="Home" method="get">
                <table class="table table-bordered mt-5">

                    <tr>
                        <th scope="col" colspan="6">
                            Количество полос проката, которое нужно разрезать соответствующим способом для изготовления заданного количества изделий, шт
                        </th>
                    </tr>

                    <tr>
                        <th scope="col">X1</th>
                        <th scope="col">X2</th>
                        <th scope="col">X3</th>
                        <th scope="col">X4</th>
                        <th scope="col">X5</th>
                        <th scope="col">X6</th>
                    </tr>


                    <tr>
                        <td>
                            <input type="text" class="table-input-text" asp-for="X1" readonly>
                        </td>
                        <td>
                            <input type="text" class="table-input-text" asp-for="X2" readonly>
                        </td>
                        <td>
                            <input type="text" class="table-input-text" asp-for="X3" readonly>
                        </td>
                        <td>
                            <input type="text" class="table-input-text" asp-for="X4" readonly>
                        </td>
                        <td>
                            <input type="text" class="table-input-text" asp-for="X5" readonly>
                        </td>
                        <td>
                            <input type="text" class="table-input-text" asp-for="X6" readonly>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <table class="table table-bordered mb-0">
                                <th>Величина суммарных отходов от резки металла (целевая функция), см2:</th>
                                <td>
                                    <input type="text" class="table-input-text" asp-for="Cel" readonly>
                                </td>
                            </table>
                        </td>
                    </tr>

                </table>


                <a class="btn btn-success" href="@Url.Action("Report","Home",Model.dataViewModel)">Отчёт</a>


            </form>
        </div>

        <div class="col-5">
            <canvas id="myChart"></canvas>

        </div>

    </div>
</div>