@model ResultViewModel

<div id="invoice" class="container text-center">
    <h1 class="display-4">Результаты расчёта</h1>

    <div class="row">

        <div class="col-7">
            <table class="table table-bordered mt-5">

                <tr>
                    <th scope="col" colspan="6">
                        Количество полос проката, которое нужно разрезать соответствующим способом для изготовления заданного количества изделий, шт
                    </th>
                </tr>

                <tr>
                    <th scope="col">X1</th>
                    <th scope="col">X2</th>
                    <th scope="col">X3</th>
                    <th scope="col">X4</th>
                    <th scope="col">X5</th>
                    <th scope="col">X6</th>
                </tr>


                <tr>
                    <td>
                        <input type="text" class="table-input-text" asp-for="X1" disabled>
                    </td>
                    <td>
                        <input type="text" class="table-input-text" asp-for="X2" disabled>
                    </td>
                    <td>
                        <input type="text" class="table-input-text" asp-for="X3" disabled>
                    </td>
                    <td>
                        <input type="text" class="table-input-text" asp-for="X4" disabled>
                    </td>
                    <td>
                        <input type="text" class="table-input-text" asp-for="X5" disabled>
                    </td>
                    <td>
                        <input type="text" class="table-input-text" asp-for="X6" disabled>
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <table class="table table-bordered mb-0">
                            <th>Величина суммарных отходов от резки металла (целевая функция), см2:</th>
                            <td>
                                <input type="text" class="table-input-text" asp-for="Cel" disabled>
                            </td>
                        </table>
                    </td>
                </tr>

            </table>




            <input class="btn btn-success" type="submit" value="Отчёт" />
            <button class="btn btn-success" onclick="generatePDF()">Сохранить в PDF</button>
            <button class="btn btn-success" onclick="Export2Word('exportContent');">Сохранить в Word</button>
        </div>

        <div class="col-5">
            <canvas id="myChart"></canvas>

        </div>

    </div>
</div>




<script>
    function generatePDF() {
        const element = document.getElementById('invoice');
        html2pdf()
            .from(element)
            .save();
    }

</script>

